@charset "utf-8";
html { overflow-y: scroll; -webkit-text-size-adjust: 100%; }
html * { -webkit-tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent; }

html, body { font-family: sans-serif; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th { text-align: left; }

fieldset, img { border: 0; }

em, i, strong { font-style: normal; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

ul, ol { list-style: none; }

del { text-decoration: line-through; }

input, button, textarea, select { font-size: 100%; border: none; background: none; -webkit-appearance: none; }

a, button, input, select, textarea, a:focus, button:focus, input:focus, select:focus, textarea:focus { outline: 0 none; }

a { text-decoration: none; color: #666; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

::-webkit-input-placeholder { color: #999; }

::-moz-placeholder { color: #999; }

:-moz-placeholder { color: #999; }

@media only screen { html { font-size: 12px; } }
@media only screen and (min-width: 321px) and (max-width: 479px) { html { font-size: 14px; } }
@media only screen and (min-width: 480px) and (max-width: 639px) { html { font-size: 18px; } }
@media only screen and (min-width: 640px) { html { font-size: 24px; } }
/*css end*/
/* video container */
.video-js .btnPlay, .sound, .btnFS { position: relative; cursor: pointer; }

.video-js { position: relative; display: block; padding: 0; vertical-align: top; font-size: 10px; line-height: 1; font-weight: normal; font-style: normal; font-family: Arial, Helvetica, sans-serif; color: #fff; background-color: #000; overflow: hidden; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }
.video-js .btnPlay { margin: 0 0.74074rem 0 0.92593rem; }

.videoPaused .btnPlay, .videoPlaying .btnPlay, .sound, .muted, .btnFS, .videofullscreen .btnFS { background: url('../images/video_btn-s39c3c49655.png'); background-size: 1.7037rem 10.14815rem; background-repeat: no-repeat; }
.videoPaused .btnPlay { width: 1.62963rem; height: 1.62963rem; background-position: 0 -6.81481rem; }

.videoPlaying .btnPlay { width: 1.62963rem; height: 1.62963rem; background-position: 0 -5.11111rem; }

.vjs-default-skin { padding-top: 56.25%; }

.vjs-tech { position: absolute; top: 0; width: 100% !important; height: 100% !important; }

/* video caption css */
.caption { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url('../images/loading.gif?1460337924') no-repeat 50% 50%; z-index: 2; }

.topControl { position: absolute; z-index: 9; bottom: 0; left: 0; width: 100%; height: 1.40741rem; padding: 0.40741rem 0; font-size: 0.74074rem; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: box; box-orient: horizontal; display: flex; -ms-align-items: center; -o-align-items: center; -moz-align-items: center; -webkit-align-items: center; align-items: center; background: rgba(0, 0, 0, 0.3); color: #FFF; }

.hidden { visibility: hidden; }

.soundBox { position: relative; margin: 0 0.74074rem; cursor: pointer; }

.sound { width: 1.7037rem; height: 1.62963rem; background-position: 0 -8.51852rem; }

.muted { width: 1.7037rem; height: 1.62963rem; background-position: 0 -3.40741rem; }

.btnFS { margin-right: 0.74074rem; }
.btnFS { width: 1.62963rem; height: 1.62963rem; background-position: 0 -1.7037rem; }
.videofullscreen .btnFS { width: 1.62963rem; height: 1.62963rem; background-position: 0 0; }

.volume_none { display: none; }

.volume_box { position: absolute; bottom: 1.48148rem; left: 50%; width: 2.14815rem; height: 6.66667rem; margin-left: -1.07407rem; border-radius: 3px; background: rgba(200, 200, 200, 0.6); -webkit-box-flex: 1; -moz-box-flex: 1; -ms-flex: 1; box-flex: 1; display: flex; -ms-flex-direction: column; -o-flex-direction: column; -moz-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; -ms-align-items: center; -o-align-items: center; -moz-align-items: center; -webkit-align-items: center; align-items: center; }
.volume_box span { display: block; }
.volume_box .volumeT { margin: 0.44444rem 0; }
.volume_box .volumeB { margin: 0.44444rem 0; }

.volume { position: relative; width: 0.37037rem; border-radius: 0.37037rem; background: rgba(255, 255, 255, 0.3); -webkit-box-flex: 1; -moz-box-flex: 1; -ms-flex: 1; box-flex: 1; flex: 1; cursor: pointer; }

.volumeBar { position: absolute; z-index: 10; bottom: 0; left: 0; display: block; width: 0.37037rem; height: 100%; border-radius: 0.37037rem; background-color: #ff7f00; }
.volumeBar:before { content: ''; position: absolute; z-index: 2; top: -0.25926rem; left: 50%; width: 0.51852rem; height: 0.51852rem; margin-left: -0.25926rem; border-radius: 100%; background-color: #ff7f00; }
.volumeBar:after { content: ''; position: absolute; z-index: 1; top: -0.44444rem; left: 50%; width: 0.88889rem; height: 0.88889rem; margin-left: -0.44444rem; border-radius: 100%; background-color: #FFF; }

.time { margin-right: 0.74074rem; }

.progress { position: relative; height: 0.37037rem; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-flex: 1; box-flex: 1; flex: 1; border-radius: 0.37037rem; background: rgba(237, 237, 228, 0.3); cursor: pointer; }

.progress span { position: absolute; top: 0; left: 0; display: block; height: 100%; border-radius: 0.37037rem; }

.timeBar { z-index: 10; width: 0; background: #FFF; }
.timeBar:after { content: ''; position: absolute; width: 0.92593rem; height: 0.92593rem; right: -0.46296rem; top: -0.27778rem; border-radius: 100%; background-color: #FFF; }

.bufferBar { z-index: 5; width: 0; background: rgba(237, 237, 228, 0.3); }

.videofullscreen .vjs-tech { position: fixed; z-index: 99; background: #000; }
.videofullscreen .topControl { position: fixed; z-index: 100; }

/* OTHERS CSS */
/* video screen cover */
