// set Media
$mediaArray: "only screen",
    "only screen and (min-width: 360px) and (max-width: 374px)",
    "only screen and (min-width: 375px) and (max-width: 413px)",
    "only screen and (min-width: 414px) and (max-width: 479px)",
    "only screen and (min-width: 480px) and (max-width: 719px)",
    "only screen and (min-width: 720px)";



$rem-base: 28px;
$ratioFor320: 720/320; //iphone 4\5
$ratioFor360: 720/360;
$ratioFor375: 720/375; //iphone 6
$ratioFor414: 720/414; //iphone 6p
$ratioFor480: 720/480;
$ratioFor720: 720/720;
$htmSizeArray:  floor($rem-base/$ratioFor320),
                floor($rem-base/$ratioFor360),
                floor($rem-base/$ratioFor375),
                floor($rem-base/$ratioFor414),
                floor($rem-base/$ratioFor480),
                floor($rem-base/$ratioFor720);

$mediaDeviceArray: "only screen",
  "only screen and (-webkit-min-device-pixel-ratio: 2),
   only screen and (   min--moz-device-pixel-ratio: 2),
   only screen and (   -o-min-device-pixel-ratio: 2/1),
   only screen and (        min-device-pixel-ratio: 2),
   only screen and (             min-resolute: 300dpi),
   only screen and (             min-resolute: 2dppx )";

$bgSuffix: "", "@2x";


// set responsive
@for $mediaIndex from 1 to length($mediaArray) + 1 {
  $media: nth($mediaArray, $mediaIndex);
  $htmlFz: nth($htmSizeArray, $mediaIndex);
  @media #{$media}{
    html {
      font-size: $htmlFz;
    }
  }
}
